.searchContainer {
  display: flex;
  justify-content: center;
}

.searchBox{
    position: relative;
  
}

.searchButton{
    position: absolute;
    right: 8px;
    top: 0;
    height: 100%;

}

.searchInput{
    height: 35px;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    border: 1px solid #ccc;
}

.searchImput:focus,
.searchButton:focus{
    outline: none;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
}